body {
}
@font-face {
    font-family: 'BebasNeue Regular';
    src: url('../fonts/Bebas_Neue/BebasNeue Regular.otf') format('opentype');
}
@font-face {
    font-family: 'BebasNeue Thin';
    src: url('../fonts/Bebas_Neue/BebasNeue Thin.otf') format('opentype');
}
@font-face {
    font-family: 'BebasNeue Book';
    src: url('../fonts/Bebas_Neue/BebasNeue Book.otf') format('opentype');
}
@font-face {
    font-family: 'BebasNeue Light';
    src: url('../fonts/Bebas_Neue/BebasNeue Light.otf') format('opentype');
}
@font-face {
    font-family: 'BebasNeue Bold';
    src: url('../fonts/Bebas_Neue/BebasNeue Bold.otf') format('opentype');
}